<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add student</h1>
	<div>
		<form th:object="${book}" th:action="@{../save}" action="#" method="post">
		 	<p>Book Author First name: <input type="text" th:field="*{firstName}" /></p>
		 	<!-- Hidden field, grabs ID to replace object in repository with updated fields -->
		 	<p><input type="hidden" th:field="*{id}" /></p>
		 	<p>Book Author Last name: <input type="text" th:field="*{lastName}" /></p>
		 	<p>Book Title: <input type="text" th:field="*{title}" /></p>
		 	<p>Book ISBN: <input type="text" th:field="*{isbn}" /></p>
		 	<p>Book Year: <input type="text" th:field="*{year}" /></p>
		 	<p>Book Price: <input type="text" th:field="*{price}" /></p>
		 	<div style="clear: both; display: block; height: 10px;"></div>
		 	<label for="categorylist">Category</label>
			<select id="categorylist" th:field="*{category}" class="form-control">
	       		<option th:each="category: ${categories}" th:value="${category.categoryid}" th:text="${category.name}"></option>
	    	</select>
		 	<p><input type="submit" value="Save" /></p>
	 	</form>
	</div>
</body>
</html>